body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
/*   display: block; */
}

.card { 
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
/*   display: block;
 */}

.title {
  background: #e3f4ff;
  font-size: 16px;
/*   display: block;
 */}

.content {
  background: #e3f4ff;
/*   display: block;
 */}

.button-container {
  text-align: center;
  padding: 8px;
  background-color: #e3f4ff;
  margin-top: 10px;
 }

button {
  display: block;
  background-color: white;
  border: white;
  margin: 0 auto;
  padding: 8px 24px;

 }
